projects/*/
# Ignorar archivos de configuración de Nginx por proyecto
nginx/conf.d/*.conf
!nginx/conf.d/default.conf
!nginx/conf.d/laravel-template.conf
projects/supervisor/conf.d/*.conf
!projects/supervisor/conf.d/default.conf
!projects/supervisor/conf.d/laravel-template.conf